<div class="row">
  <div class="col">
    <h1><%= time event.start_at, timezone: season.timezone %> <%= event.title %></h1>
    <h2><%= season.title %></h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped">
      <col width="10">
      <col width="1">
      <col width="1">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Absent</th>
          <th>Présent</th>
        </tr>
      </thead>
      <tbody>
        <% combined.each do |role, attendances| %>
          <tr>
            <td colspan="3">
              <h4><%= role.capitalize %></h4>
            </td>
          </tr>
          <% attendances.each do |attendance| %>
            <tr>
              <td><%= attendance.name %></td>
              <td class="">
                <% if attendance.absent? %>
                  <%= form_for :attendance, routes.path(:create_attendance_from_registration, registration_slug: attendance.slug), method: :post do |f| %>
                    <%= f.submit "Présent \u2192", class: "btn btn-sm btn-primary" %>
                  <% end %>
                <% end %>
              </td>
              <td class="">
                <% if attendance.present? %>
                  <%= form_for :attendance, routes.path(:destroy_attendance, registration_slug: attendance.slug), method: :delete do |f| %>
                    <%= f.submit "\u2190 Absent", class: "btn btn-sm btn-secondary" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form_for(:attendance, routes.path(:create_attendance, event_slug: event.slug), method: :post) do |f| %>
      <div>
        <%= f.label "Prénom et nom", for: :name %>
        <%= f.text_field :name, placeholder: "John Smith" %>
      </div>
      <div>
        <%= f.label "Rôle", for: :role %>
        <%= f.text_field :role, placeholder: "Éclaireurs" %>
      </div>
      <div>
        <%= f.submit "Enregistrer" %>
      </div>
    <% end %>
  </div>
</div>
