<div class="row">
  <div class="col">
    <h1>Liste des saisons</h1>
  </div>
</div>

<% if seasons.any? %>
  <div class="row">
    <div class="col">
      <% seasons.each do |season| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= season.title %></h5>
            <p class="card-text">
            <% if num_events[season.id] %>
              <%= num_events[season.id] %> événements,
            <% else %>
              Aucun événements
            <% end %>
            <% if total_registrations[season.id] %>
              <%= num_registered_registrations[season.id] %> / <%= total_registrations[season.id] %> =
              <%= format_number(100.0 * num_registered_registrations[season.id] / total_registrations[season.id], precision: 1, delimiter: " ", separator: ",") %> %
            <% end %>
            </p>

            <%= link_to "Événements", routes.path(:events, slug: season.slug), class: "card-link" %>
            <%= link_to "Inscriptions", routes.path(:show_season, slug: season.slug), class: "card-link" %>
            <%= link_to "Présences", routes.path(:select_event_for_attendance, season_slug: season.slug), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if seasons.empty? %>
  <div class="row">
    <div class="col">
      <p>Aucune saison enregistrée</p>
    </div>
  </div>
<% end %>

<div class="row my-2">
  <div class="col">
    <%= link_to "Ajouter une saison", routes.path(:new_season), id: "add-season", class: "btn btn-primary" %>
  </div>
</div>
