<h1><%= season.title %></h1>
<h2>Intructions</h2>
<p>
Inscrivez votre ou vos enfants aux différentes activités du Groupe. Si vous
désirez rester, n'oubliez pas d'inscrire votre nom à vous aussi!
</p>

<% count = -1 %>
<%= form_for :registration, routes.path(:create_registrations, slug: season.slug) do |f| %>
  <div>
    <%= f.label "À quelle adresse courriel voulez-vous recevoir un rappel?", for: :email %>
    <br>
    <%= f.email_field :email, placeholder: "moi@hotmail.com", required: true, size: 50 %>
    <p>
    Vous recevrez un courriel de rappel un ou deux jours avant l'événement à
    cette adresse courriel.
    </p>
  </div>

  <% f.fields_for :events do |f0| %>
    <% events.each do |event| %>
      <h2><%= event.title %></h2>
      <p><%= time event.start_at, format: "%Y-%m-%d %H:%M" %></p>

      <% (event.max_registrations - (registrations[event.id] || []).size).times do %>
        <% count += 1 %>
        <% f0.fields_for(count) do |f1| %>
          <div>
            <%= f1.hidden_field :event_id, value: event.slug %>
            <%= f1.label "Prénom et nom", for: :name %>
            <%= f1.text_field :name, placeholder: "Pierre Tremblay", size: 30 %>
            <%= f1.label "Rôle", for: :role %>
            <%= f1.text_field :role, placeholder: "Castors, Chouettes, Directeur, etc.", size: 30 %>
          </div>
        <% end %>
      <% end %>

      <% Array(registrations[event.id]).each do |registration| %>
        <div>occupé</div>
      <% end %>
    <% end %>
    </div>
  <% end %>

  <%= f.button "Enregistrer" %>
<% end %>
