<h1><%= season.title %></h1>

<%= form_for :registration, routes.path(:create_registrations, slug: season.slug) do |f| %>
  <div>
    <%= f.label "Votre adresse courriel", for: :email %>
    <%= f.email_field :email, placeholder: "moi@hotmail.com", required: true %>
  </div>

  <% events.each do |event| %>
    <% f.fields_for(event.slug) do |g| %>
      <h2><%= event.title %></h2>

      <% slots[event.id].each do |slot| %>
        <% g.fields_for(slot.slug) do |h| %>
          <div>
            <h3><%= time slot.start_at, format: '%d/%m %H:%M' %></h3>
            <% (registrations[slot.id] || []).each do |_reg| %>
              <div>occupé</div>
            <% end %>
            <% (slot.num_registrations - (registrations[slot.id] || []).size).times do %>
              <div>
                <%# FIXME: form IDs are not unique on the page, due to rows with no slot id %>
                <%= h.label "Prénom et nom", for: :name %>
                <%= h.text_field :name %>
                <%= h.label "Rôle", for: :role %>
                <%= h.text_field :role, placeholder: "Unité ou rôle" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.button "Enregistrer" %>
<% end %>
